
body{
    background: rgb(1,46,87);
    font-family: verdana,sans-serif;
}
a{
    text-decoration: none;
    color: #fff;
}
.box{
    font-size: 50px;
    background: rgb(0, 73,150);
    text-align: center;
    margin-bottom: 0.75em;
    display: inline-block;
    border: 8px solid rgb(252, 179, 40);
    border-radius: 7px;
    width: 100%;
}
#boxbox{
    margin: auto 15%;
}
.text{
    color: #fff;
    text-align: center;
    font-size: 75px;
}
.hr{
    border-bottom: solid rgb(1,36,74) 4px;
    margin: 1em 10% 1em 10%;
}
#warningBox{
    border: 5px dashed rgb(252, 179, 40);
    margin: auto 20%;
    background: rgb(0, 73,150);
}
.warningText{
    color: #fff;
    text-align: center;
    padding:  10px;
}
nav{
    background: rgb(0, 73, 150);
    text-align: center;
    position: fixed;
    top:0px;
    left:0px;
    right:0px;
    font-size: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
}