img{
    width:80%;
    background: #000;
    border-radius: 50%;
    margin-left: 5%;
    margin-bottom: 10%;
}
#imagebox{
    margin: auto 10% auto 15%;
}
 body{
    background: #0d0d0d;
    font-family: sans-serif;
}
h1{
    color: #d9d9d9;
    text-align: center;
    font-size: 50px;
}
.hr{
    border-bottom: solid #4d4d4d 4px;
    margin: 1em 10% 1em 10%;
}
